/* Write your CSS here! */

<style type="text/css">

    display: grid;
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }

    .sidebar {
      grid-area: sidebar;
      height: 100%;
      width: 225px;
      float: left;
      position: absolute;
      left: 60;
      top: calc(100vh -80px);
      bottom: 20;
      margin: top 5px;  
    }

    
    .header {
      position:absolute
      grid-template-rows: auto
      grid-row-gap: 0px;
      padding: 10px;
    }

     .main {
      grid-template-rows: auto
      grid-row-gap: 0px; 
}
    
    .wrapper {
      width: 100%;
      position: relative;
      margin: 30px ;
    }
    

    .footer {
      grid-area: footer;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%; 
    }

   * {
    text-align: center;
   }

    .logo img {
    position: relative;
    width: 150px;
    float:left;
    margin-top: 40px;
}

    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;      
        padding: 60px;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }
    .container{
       align-content: stretch;  
       margin: 0 auto;
    }
    
  <a href=""></a>
   
    
  






/* Do not change the CSS below. */

.header {
  background: #4242ea;
}

.logo img {
  height: 50px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #2d2d2d;
  color: white;
  text-align: center;
}

.main {
  background: #ececec;
  height: 750px;
  text-align: center;
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
